<header class="navbar">
  <div class="navbar-container">
    <a class="logo" (click)="navigateHome()">Surya Meghana Chochupatla</a>

    <!-- Burger icon -->
    <div class="burger" (click)="toggleMenu()">☰</div>

    <!-- Nav links -->
    <nav class="nav-links" [class.open]="isMenuOpen">
      <a routerLink="/" (click)="closeMenu()">Home</a>
      <a routerLink="/about" (click)="closeMenu()">About</a>
      <a routerLink="/projects" (click)="closeMenu()">Projects</a>
      <a routerLink="/experience" (click)="closeMenu()">Experience</a>
      <a routerLink="/contact" (click)="closeMenu()">Contact</a>
    </nav>
  </div>
</header>
